<launch>
    <node name="learn_node" pkg="sbpl_lh" type="learn_node" required="true" output="screen">
        <param name="time_per_plan" value="20.0"/>
        <param name="config_path" value="/env_examples/nav3d/env4.cfg"/>
        <param name="prim_path" value="/matlab/mprim/kcar.mprim"/>
        <param name="num_plans" value="2000"/>
       	<param name="use_ompl" type ="bool" value="true"/>
       	<param name="ompl_id" value="0"/> #0 - RRT 1 - PRM 2 - RRTC 3 - RRT*
    </node>
</launch>
